include mixins/cardItem

div.cards.card__table
    +cardItem({
      id: "word1",
      original: "A bad hair day",
      translation: "День, коли все валиться з рук",
      category: "Не обрана",
      date: "22.01.2018",
      progress: "100%",
      checkboxID: "word1--checked"
    })
    +cardItem({
      id: "word2",
      original: "Dog",
      translation: "Собака",
      category: "Тварини",
      date: "02.01.2018",
      progress: "93%",
      checkboxID: "word2--checked"
    })
    +cardItem({
      id: "word3",
      original: "A blessing in disguise",
      translation: "Не було б щастя, та нещастя допомогло; щось таке, що спочатку було погане, але потім призвело до хороших результатів",
      category: "Ідіома",
      date: "31.01.2018",
      progress: "92%",
      checkboxID: "word3--checked"
    })
    +cardItem({
      id: "word4",
      original: "T-shirt",
      translation: "Футболка",
      category: "Одяг",
      date: "31.01.2018",
      progress: "48%",
      checkboxID: "word4--checked"
    })
    +cardItem({
      id: "word5",
      original: "Blouse",
      translation: "Кофта",
      category: "Одяг",
      date: "02.01.2018",
      progress: "33%",
      checkboxID: "word5--checked"
    })
