div.content__show
    button.content__show--custom#showList
        include ../assets/images/show-list.svg
    button.content__show--custom.content__show--active#showTable
        include ../assets/images/show-table.svg