include mixins/navItem
div.nav
    div.nav__group
        h3 Профіль
        nav
            +navItem({
              linkName: "Мій профіль",
              src: "./assets/images/nav-icons/my-profile.svg",
              alt: "archive"
            })
            +navItem({
              linkName: "Оповіщення",
              src: "./assets/images/nav-icons/notification.svg",
              alt: "archive"
            })
            +navItem({
              linkName: "Налаштування",
              src: "./assets/images/nav-icons/settings.svg",
              alt: "archive"
            })
    div.nav__group
        h3 Словник
        nav
            +navItem({
              linkName: "Мій словник",
              src: "./assets/images/nav-icons/dictionary.svg",
              alt: "archive",
              active: true
            })
            +navItem({
              linkName: "Тестування",
              src: "./assets/images/nav-icons/testing.svg",
              alt: "archive"
            })
            +navItem({
              linkName: "Архів",
              src: "./assets/images/nav-icons/archive.svg",
              alt: "archive"
            })
    div.nav__group
        nav
            +navItem({
              linkName: "Вийти",
              src: "./assets/images/nav-icons/exit.svg",
              alt: "archive"
            })


