section.popup
    button.popup--close Повернутись до словника
        img(src="./assets/images/arrow-icon.svg" alt="arrowIcon")
    h2 Додайте слово
    p.popup__desc Додайте слово, або фразу, які ви хочете запамятати. Далі ви зможете повторювати додані слова у режимі тестування
    form.popup__form(name="card--add")
        input(type="text" name="word-name" placeholder="Оригінал")
        input(type="text" name="word-translation" placeholder="Переклад")
        include ./formElements/selectCategory
        div.form__actions
            button(type="submit" value="send" class="button button--send") Підтвердити
            button(type="button" value="cancel" class="button button--cancel") Відмінити