@import "../variables";

.button--add {
  display: flex;
  align-items: center;
  width: 205px;
  height: 46px;
  padding-left: 5px;
  color: $accentText;
  background-color: $activeColor;
  border-radius: 30px;
  font-size: 14px;
  line-height: 22px;
  flex-shrink: 0;
  margin-left: 50px;
  z-index: 222;
  &::before {
    content: url("./assets/images/add.svg");
    width: 25px;
    height: 25px;
    background-color: $accentText;
    margin-right: 10px;
    border-radius: 50%;
    transform: rotate(0deg);
    transition: transform 0.3s;
  }
  &:hover {
    &::before {
      transform: rotate(90deg);
    }
  }
}