@import "../variables";
@import "form/checkboxCustom";

.card__table {
  display: grid;
  grid-auto-rows: minmax(45px, max-content);
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  border: 2px solid $borderColor;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
  & .card--checked, & span {
    display: inline-flex;
    align-items: center;
    height: 100%;
    padding: 10px 20px;
    border-right: 2px solid $borderColor;
  }
  & .card--checked {
    justify-content: center;
    padding: 10px 0;
    z-index: 333;
  }
  & span {
    &:last-of-type {
      border-right: none;
    }
  }
}

.card {
  display: grid;
  grid-template-columns: 50px 15% 1fr 10% 10% 10%;
  border-bottom: 2px solid $borderColor;
  line-height: 20px;
  font-size: 14px;
  align-items: center;
  position: relative;
  & span, & form {
    width: 100%;
    background-color: #ffffff;
    transition: background-color 0.3s;
  }
  &__category {
    justify-content: flex-end;
  }
  &__date,
  &__progress {
    justify-content: center;
  }
  &:last-of-type {
    border-bottom: none;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &:hover {
    &::before {
      cursor: pointer;
    }
    & span, & form {
      background-color: #F2F2F2;
    }
  }
}

@media screen and (max-width: 1280px) {
  .card__table {
    & .card--checked, & span {
      padding: 10px 15px;
    }
  }
  .card {
    font-size: 13px;
  }
}

@media screen and (max-width: 960px) {
  .card__table {
    & .card--checked, & span {
      padding: 10px 12px;
    }
  }
  .card {
    font-size: 12px;
    grid-template-columns: 30px 15% 1fr 10% 10% 10%;
  }
}