@import "../variables";

.content__show {
  display: flex;
  &--custom {
    width: 30px;
    height: 30px;
    border-radius: 2px;
    box-sizing: border-box;
    border: 2px solid #E6E9ED;
    position: relative;
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
    }
    svg {
      path {
        fill: rgb(82, 95, 118);
      }
      g {
        path {
          fill: rgb(82, 95, 118);
        }
      }
    }
    &:first-of-type {
      margin-right: 15px;
    }
    &:hover {
      @include showButton;
    }
  }
  &--active {
    @include showButton;
    &:hover {
      @include showButton;
      cursor: default;
    }
  }

}