@import "../variables";

h1 {
  @include head(30px, 44px, $headColor);
  font-family: Source Sans Pro, sans-serif;
}

h2 {
  @include head(25px, 38px, $activeColor);
  margin-bottom: 20px;
}

h3 {
  font-size: 10px;
  color: rgba(255, 255, 255, .4);
  font-weight: bold;
  margin-bottom: 10px;
}

.head__info {
  @include head(14px, 20px, $headColor);
  font-family: Source Sans Pro, sans-serif;
}