@import "../variables";

.popup {
  width: 40%;
  height: 100vh;
  min-width: 570px;
  background-color: #ffffff;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(2000px);
  transition: transform 0.5s, opacity 0.5s;
  z-index: 777;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 30px;
  display: flex;
  flex-direction: column;
  .select__wrapper {
    height: 50px;
    .select--custom {
      padding-left: 0;
      @include head(16px, 24px, #1B1D1F);
    }
  }
}

.popup {
  &__desc {
    font-size: 14px;
    line-height: 20px;
    color: $headColor;
  }
}

.popup {
  &--close {
    @include head(14px, 19px, $activeColor);
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 40px;
    margin-bottom: 40px;
    img {
      position: absolute;
      left: 0;
    }
  }
}

.popup {
  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
    input {
      width: inherit;
      height: 40px;
      margin-bottom: 40px;
      font-size: 16px;
      line-height: 24px;
      color: rgba(27, 29, 31, .5);
      border: none;
      border-bottom: 2px solid #F2F2F2;
    }
    & .form__actions {
      margin-top: 75px;
      .button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: $selectColor;
        width: 130px;
        height: 45px;
        border-radius: 2px;
        background-color: $accentText;
        transition: background-color 0.3s, color 0.3s;
        &:first-of-type {
          margin-right: 20px;
        }
        &:hover {
          border: 2px solid $activeColor;
        }
      }
      .button--send {
        background-color: $activeColor;
        color: $accentText;
      }
    }
  }
}