mixin cardItem(params)
    article.card(id=params.id)
        form.card--checked
            input(type="checkbox" name="card--checked" id=params.checkboxID)
            label(for=params.checkboxID)
        span.card__original=params.original
        span.card__translation=params.translation
        span.card__category=params.category
        span.card__date=params.date
        span.card__progress=params.progress