mixin navItem(params)
    li(class= params.active ? "nav__item nav__item--active": "nav__item")
        span.nav__icon
            img(src=params.src alt=params.alt)
        a.nav__link=params.linkName