@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/SourceSansPro-Regular.ttf);
}

button {
  background-color: transparent;
  border: none;
  &:hover {
    cursor: pointer;
  }
}