@import "~reset-css";
@import "custom";
@import "header/logo";
@import "header/nav";
@import "header/headerFixed";
@import "main/headers";
@import "main/contentShow";
@import "main/form/form";
@import "main/addWord";
@import "main/cardsTable";
@import "main/form/checkboxCustom";
@import "main/popup";
@import "footer/footer";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Source Sans Pro, sans-serif;
}

li {
  list-style: none;
}

body {
  display: grid;
  grid-template-columns: 280px 1fr;
  grid-template-rows: 1fr 70px;
  grid-template-areas: "header main"
                        "footer main";
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

header, footer {
  background-color: #11369E;
  color: #ffffff;
  padding-left: 30px;
  padding-right: 30px;
}

header {
  padding-top: 30px;
}

footer {
  padding-bottom: 30px;
}

main {
  padding: 30px;
}

.popup--show {
  main {
    .popup {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(17, 54, 158, .15), rgba(17, 54, 158, .15), rgba(0, 0, 0, .9));
    z-index: 555;
  }
}

.content {
  &__row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    &:first-of-type {
      align-items: flex-start;
      margin-bottom: 30px;
    }
  }
}

@media screen and (max-width: 1280px) {
  body {
    grid-template-columns: 220px 1fr;
  }
  header, footer {
    padding-left: 20px;
    padding-right: 20px;
  }
  header {
    padding-top: 20px;
  }

  footer {
    padding-bottom: 20px;
  }

  main {
    padding: 20px;
  }
}

@media screen and (max-width: 960px) {
  body {
    grid-template-columns: 150px 1fr;
  }
  header, footer {
    padding-left: 15px;
    padding-right: 15px;
  }
  header {
    padding-top: 15px;
  }

  footer {
    padding-bottom: 15px;
  }

  main {
    padding: 10px;
  }
}
