$headColor: #181D1F;
$selectColor: #525F76;
$activeColor: #11369E;
$accentText: #ffffff;
$borderColor: #E6E9ED;

@mixin head($fontSize, $lineHeight, $color) {
  font-size: $fontSize;
  line-height: $lineHeight;
  color: $color;
}

@mixin showButton {
  background-color: $activeColor;
  border: 2px solid $activeColor;
  transition: background-color 0.3s;
  svg {
    path {
      fill: #ffffff;
      transition: fill 0.3s;
    }
    g {
      path {
        fill: #ffffff;
        transition: fill 0.3s;
      }
    }
  }
}

@mixin selectText {
  font-family: Source Sans Pro, sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: $selectColor;
  transition: color 0.3s;
}

