input[type="checkbox"] {
  display: none;
}

.card--checked label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 2px solid;
  border-color: #E6E9ED;
  background-color: #ffffff;
  transition: background-color 0.2s, border-color 0.2s;
  &:hover {
    cursor: pointer;
  }
}

input[type="checkbox"]:checked + label {
  background-color: #11328D;
  border-color: #11328D;
  &::before {
    content: url("./assets/images/check.svg");
  }
}