

.input--search {
  height: inherit;
  position: relative;
  display: flex;
  align-items: center;
  //background: url("/assets/images/search.svg");
  &::before {
    content: url("./assets/images/search.svg");
    position: absolute;
    left: 15px;
  }
}

input[type="search"] {
  width: 220px;
  height: inherit;
  border-radius: 30px;
  background: #F5F5F5;
  border: none;
  padding-left: 40px;
  &::-ms-clear {
    display: none;
  }
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}