@import "../../variables";

.select__list {
  display: none;
  flex-direction: column;
  width: 150px;
  position: absolute;
  top: 42px;
  left: 0;
  z-index: 222;
  background-color: $accentText;
  box-shadow: 0px 10px 25px -2px rgba(0,0,0,0.45);
  opacity: 0;
  transition: opacity 0.3s;
}

.select {
  &__wrapper {
    height: inherit;
    display: flex;
    align-items: center;
    position: relative;
    select {
      display: none;
    }
  }
  &__option {
    @include selectText;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: $accentText;
    transition: color 0.3s, background-color 0.3s;
    &:hover {
      cursor: pointer;
      color: $activeColor;
      background-color: #f5f5f5;
    }
  }
}

.select--custom {
  display: flex;
  align-items: center;
  width: 150px;
  height: inherit;
  padding-left: 35px;
  @include selectText;
  border: 1px solid transparent;
  transition: border 0.3s;
  border-radius: 30px;
  &::before {
    content: url("./assets/images/select-open.svg");
    order: 1;
    padding-left: 20px;
  }
}

.select--custom {
  &:hover {
    cursor: pointer;
    border-radius: 30px;
    border: 1px solid $activeColor;
    color: $activeColor;
    font-weight: bold;
    &+.select__list {
      display: flex;
      opacity: 1;
    }
  }
}

.select__wrapper--open {
  .select--custom {
    border: 1px solid $activeColor;
    color: $activeColor;
    font-weight: bold;
  }
  .select__list {
    display: flex;
    opacity: 1;
  }
}