.header--fixed {
  display: flex;
  opacity: 0;
  position: fixed;
  top: 0;
  transform: translateY(-100px);
  left: 0;
  height: 85px;
  padding: 0 30px;
  box-shadow: 0px 4px 18px rgba(82, 95, 118, .12);
  width: 100%;
  background-color: #fff;
  z-index: 777;
  align-items: center;
  transition: opacity 500ms, transform 500ms;
  .content__actions {
    margin-left: 195px;
  }
  .button--add {
    position: absolute;
    right: 30px;
  }
}

.header--show {
  opacity: 1;
  transform: translateY(0);
}

