.nav {
  padding-top: 50px;
  &__group {
    margin-bottom: 50px;
  }
}

.nav__item {
  display: flex;
  align-items: center;
  height: 40px;
  background-color: transparent;
  transition: background-color 0.3s;
  &:hover {
    cursor: pointer;
    background-color: #11328D;
  }
  &--active {
    background-color: #11328D;
  }
}

.nav {
  &__link {
    font-size: 14px;
    color: #ffffff;
    padding-left: 15px;
    font-family: Source Sans Pro, sans-serif;
  }
  &__icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: inherit;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: inherit;
    }
  }
}

@media screen and (max-width: 1280px) {
  .nav {
    &__link {
      font-size: 13px;
    }
  }
}

@media screen and (max-width: 960px) {
  .nav {
    &__link {
      font-size: 12px;
      padding-left: 10px;
    }
    &__icon {
      width: 20px;
    }
  }
}

