form.card--checked
    form.card--checked
        input(type="checkbox" name="card--checked")
        label
span.card__original
span.card__translation
span.card__category
span.card__date
span.card__progress

