doctype
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name="description" content="preply")
        meta(name="theme-color" content="#00bff3")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title='preply'
    body
        header
            include ./includes/headerFixed
            include ./includes/logo
            include ./includes/navigation
        main
            div.content__row
                div.content__column
                    include ./includes/head
                include ./includes/addWord
            div.content__row
                include ./includes/formActions
                include ./includes/contentShow
            include ./includes/cards
            include ./includes/pupUp
        footer
            include ./includes/copyright
