div.select__wrapper
    select(id="selectCategory" name="category")
    div.select--custom#selectCustomCategory Всі категорії
    ul.select__list
        li.select__option Тварини
        li.select__option Тварини
        li.select__option Тварини
        li.select__option Тварини